.checkbox {
  width: 18px;
  height: 18px;

  &__unchecked {
    color: var(--checkbox-border-color);

    &:hover {
      color: var(--checkbox-checked-color);
    }
  }

  &__indeterminate {
    color: var(--checkbox-checked-color);
  }

  &__checked {
    color: var(--checkbox-checked-color);
  }
}
